.skills-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.skill {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.logo img {
  height: 80px;
  width: 80px;
}
